@use '../abstract/variables';
@use '../abstract/mixins';

header {
    background: variables.$primary-gradient;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variables.$ft-texts, 1rem, variables.$primary-color);
                font-weight: 500;
                transition: .3s;

                &:hover {
                    transform: scale(1.2);
                    font-weight: 700;
                }
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.center-margin(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .texts-home {
            width: 464px;

            h1 {
                font-size: 42px;
                color: variables.$primary-color;
                margin-bottom: 2rem;
                font-family: variables.$ft-titles;

                span {
                    color: variables.$secondary-color;
                }
            }

            .btn-main {
                width: 280px;
                height: 66px;
                color: #fff;
                border: none;
                outline: none;
                border-radius: 66px;
                background: variables.$default-color;
                font-size: 1.3rem;
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
            }
        }
    }
}