@use '../abstract/variables';
@use '../abstract/mixins';

#service{
    background: variables.$primary-gradient;
    padding: 5rem 0;
    .cards{
        @include mixins.center-margin(80%);
        display: flex;
        gap: 1.5rem;
        .card{
            background: variables.$secondary-gradient;
            padding: 1rem 1.5rem;
            text-align: center;
            border: 1px solid white;
            border-radius: 3rem;
            &-title{
                @include mixins.ff-fs-cl(variables.$ft-titles, 1.6rem, variables.$primary-color);
            }
            &-text{
                @include mixins.ff-fs-cl(variables.$ft-texts, 1.2rem, variables.$primary-color);
            }
        }
    }
}