$primary-color: #0C0421;
$secondary-color: #4e75ff;
$tertiary-color: #85a0ff;
$quaternary-color: #E8F5C8;
$default-color: #CAD4FA;
$primary-gradient: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
$secondary-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);

$ft-texts: 'Montserrat', sans-serif;
$ft-titles: 'Krona One', sans-serif;