/* container */

.container {
    background: var(--gradient);
}

.container__first {
    padding: 6.4rem 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.4rem;
}

.container__first--text h1 {
    font-family: Krona One;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 3.2rem;
}

.container__first--text-button {
    width: 31.8rem;
    height: 6.6rem;
    color: white;
    border: none;
    border-radius: 6.6rem;
    background: var(--button-blue);
    font-size: 2.4rem;
    font-family: 'Montserrat';
    font-weight: 700;
}

.container__first--text-button:hover {
    background: var(--dark-lilac);
    transition: .5s;
    cursor: pointer;
}

.container__first--image {
    width: 29.7rem;
    height: 38.4rem;
    align-self: end;
}

@media screen and (min-width: 768px) {
    /* Tablet */

    .container__first {
        align-items: center;
        text-align: start;
        padding: 6.4rem 6rem;
    }

    .container__first--text {
        width: 48.6rem;
    }

    .container__first--text h1 {
        font-size: 4.2rem;
    }

    .container__first--text-button {
        width: 28rem;
    }

    .container__first--image {
        width: 43.2rem;
        height: 55.8rem;
        align-self: center;
    }
}

@media screen and (min-width: 1440px) {

    /* Desktop */

    .container__first {
        flex-direction: row;
        padding: 0 220px 80px 220px;
    }

    .container__first--image {
        width: 474px;
    }
}